<div class="content">
  {%
    include 'chr_theme:user' with {
      view_mode: 'full',
      title: title_page,
      user: user,
      current_path: current_path,
    }
  %}
   <div id="bookmarks">
    This user has not yet bookmarked any content.
   </div>
</div>