@import "../../src/scss/init";

#main-content-front {
  #sidebar-first {
    margin: 25px 15px;

    h2 {
      margin: 0;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 1px;
      color: $dark-colour !important;
    }
  }

  #sidebar-second {
    margin: 25px 15px;

    h2 {
      margin: 0;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 1px;
      color: $dark-colour !important;
    }
  }

  .front-content {
    background: $white;
    display: inline;
    margin-bottom: 2.7%;
    float: right;
    width: 100%;
    box-shadow: 0 0 3px $light-grey-1;
    margin-top: 25px;
    padding: 20px;
  }
}