@import "../../src/scss/init";

#main-content-front {
  #sidebar-first {
    margin: 25px 15px;

    h2 {
      margin: 0;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 1px;
      color: $dark-colour !important;
    }
  }

  #sidebar-second {
    margin: 25px 15px;

    h2 {
      margin: 0;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 1px;
      color: $dark-colour !important;
    }
  }
}