// Global elements styling, e.g. for headings, buttons, links, etc.
// -----------------------------------------------------------------------------
body { font: 0.8em/165% "Lucida Grande","Lucida Sans Unicode",Segoe UI,Helvetica,Arial,sans-serif; 
  margin:0;
  outline:0 none; 
  padding:0; 
  vertical-align:baseline;
  font-size: 13px;
  line-height: 1.62em;
  background: $background-site-color;
}


h1, h2, h3, h4, h5, h6 { 
  margin:25px 0 20px 0; 
  line-height:120%; 
  text-shadow: 1px 1px 1px #EAF1EA; 
  font-family: Myriad Pro,"Lucida Grande","Lucida Sans Unicode", Segoe UI, Helvetica,Arial, sans-serif; }


h1 { 
  font-size: 32px; 
  margin:0 0 20px 0;
}

h2 { 
  font-size: 20px; 
  color: $h2-title-blue !important;
  font-weight: normal; 
}

h3 { 
  font-size: 130%; 
}

h4 { 
  font-size: 110%; 
}

input, textarea, select { 
  font-family: "Lucida Grande","Lucida Sans Unicode",Segoe UI,Helvetica,Arial,sans-serif; 
}

p { 
  margin:0 0 25px 0; 
}

a {
  text-decoration: none;
  &.active {
    text-decoration: none;
  }

  img {
    border:none; 
    display:block;
    outline: none; 
    overflow:hidden;
  }
}

img { 
  box-sizing: border-box;
  height: auto; 
  max-width: 100%; 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
}

code { 
  font-family: "Courier New", Courier, monospace; 
}

blockquote { 
  background:transparent url('/themes/custom/chr_theme/build/assets/images/blockquote.png') no-repeat top left; 
  margin: 40px 0; padding: 0 55px; 
}