/**
 * Variables
 * Variables should follow the $component-state-property-size formula for
 * consistent naming. Examples:
 * $nav-link-disabled-color
 * $modal-content-box-shadow-xs 
 *
 * Customization:
 * To customize Bootstrap variables:
 * Copy the desired variable from node_modules/bootstrap/scss/_variables.scss
 * @see https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss
 * Change the value and remove the !default flag.
 * Examples:
 * $body-bg: #000;
 * $body-color: $gray-100;
 */

 $h1-title-blue: #494d4f;
 $h2-title-blue: #1487d4;
 $background-site-color: #ccc;
 $links-colour: #00008B;
 $headers-shadow: #EAF1EA;
 $dark-colour: #333;
 $light-grey-1: #999;
 $light-grey-2: #e9e9e9;
 $light-grey-3: #E7E5E3;
 $light-grey-4: #eee;
 $light-grey-5: #bbb;
 $dark-grey-2: #444;
 $dark-grey-3: #555;
 $dark-grey-4: #333;
 $dark-grey-5: #888;
 $black-variation-1: #100100;