@import "../../src/scss/init";

.navbar-nav {
  display: flex;
  flex-direction: row !important;
  min-height: 40px;
  box-shadow: 0 0 3px $light-grey-1;
  background: #444;
  background: -moz-repeating-linear-gradient($dark-grey-3, $dark-grey-4 40px);
  background: -webkit-repeating-linear-gradient($dark-grey-3, $dark-grey-4 40px);
  background: -o-repeating-linear-gradient($dark-grey-3, $dark-grey-4 40px);
  background: -ms-repeating-linear-gradient($dark-grey-3, $dark-grey-4 40px);
  background: repeating-linear-gradient($dark-grey-3, $dark-grey-4 40px);
  margin-top: 10px;

  .nav-item {
    padding: 0 20px;

    a {
      color: $white;
    }
  }
}