@import "../../src/scss/init";

#main-content {
  #sidebar-first {
    margin: 26px 15px;

    h2 {
      margin: 0;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 1px;
      color: $dark-colour !important;
    }

    a { 
      color: $links-colour;
      padding: 0px;
    }

    .logged-in-sidebar-account-menu {
      ul {
        list-style-type: bullet;
        margin-left: 15px;

        li {
          list-style-image: url(/themes/custom/chr_theme/build/assets/images/menu-leaf.png);
          list-style-type: square;
        }
      }
    }
  }

  .page-content {
    background: $white;
    display: inline;
    margin-bottom: 2.7%;
    float: right;
    width: 100%;
    box-shadow: 0 0 3px $light-grey-1;
    margin-top: 25px;
    padding: 15px 20px;
    margin: 30px 15px;

    h2 {
      color: $black !important;
      font-size: 20px;

      a {
        color: $black;
        font-weight: bold;
      }
    }

    a {
      color: $links-colour;
    }

    .breadcrumb {
      padding-bottom: 6px !important;
      border-bottom:  $light-grey-4 1px solid;

      .breadcrumb-item {
        + .breadcrumb-item {
          padding-left: var(--#{$prefix}breadcrumb-item-padding-x);

          &::before {
            float: left; 
            padding-right: var(--#{$prefix}breadcrumb-item-padding-x);
            content: "»";
          }
        }
      }
    }

    .field-name-body {
      a {
        color: $links-colour;
      }    
    }
  }
}