@import "../../src/scss/init";

#user-profile-chr-menu {
  h1 {
    font-size: 20px !important;
    font-weight: bold !important;
  }

  .tabs {
    border-bottom: 1px solid #bbb;
    border-collapse: collapse;
    height: auto;
    line-height: normal;
    list-style: none;
    margin: 5px;
    padding: 0 0 0.5em 1em;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    li {
      &.active {
        background: $dark-grey-7;
        border: none;
        border-radius: 4px 4px 0 0;
        padding: 3px 0px;

        a {
          color: $white;
          padding: 0 1em;
        }
      }
    }
  }
}

.user--full {
  #profile-user-page {
    margin: 1.5385em 0;

    .affiliate-section {
      margin-bottom: 1.5385em;
      
      h3 {
        font-weight: bold;
      }
    }

    .order-history-section {
      margin-bottom: 1.5385em;
    }

    .receive-assignments-section {
      margin-bottom: 1.5385em;
    }

    .form-group {
      h4 {
        font-weight: bold;
        margin: 0px 0px 5px 0px;
      }
    }

    .receive-assignments-section {
      .profile {
        .label {
          font-weight: bold;
        }
      }
    }
  }
}
