@import "../../src/scss/init";

.form-actions, .form-item {
  padding-top: 10px;
  margin-top: 1em;
  margin-bottom: 1em;
}

fieldset {
  background: $white;
  border: 1px solid $background-site-color !important;
  margin-top: 10px !important;
  margin-bottom: 32px !important;
  padding: 10px 12px !important;
  position: relative;
  top: 12px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;

  legend {
    background: $light-grey-6;
    border: 1px solid $background-site-color !important;
    border-bottom: none;
    display: block;
    height: 2em;
    left: -1px;
    line-height: 2;
    padding: 0 !important; 
    position: absolute;
    text-indent: 10px;
    text-shadow: 0 1px 0 $white;
    top: -12px;
    width: 100%;
    font-size: 12px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    width: 100.3%;
  }

  .captcha__description {
    font-style: italic;
  }
}